# Multiple Linear Regression

# Importing the libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing the dataset

In [2]:
dataset=pd.read_csv("50_Startups.csv")

In [3]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
x=dataset.iloc[:,0:4].values
y=dataset.iloc[:,4].values
type(x)

numpy.ndarray

In [55]:
pd.DataFrame(x).head()

        0        1       2           3
0  165349   136898  471784    New York
1  162598   151378  443899  California
2  153442   101146  407935     Florida
3  144372   118672  383200    New York
4  142107  91391.8  366168     Florida

In [67]:
pd.DataFrame(y).head()

           0
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

# Encoding categorical data

In [56]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [57]:
label_encoder=LabelEncoder()

In [58]:
x[:,3]=label_encoder.fit_transform(x[:,3])

In [59]:
pd.DataFrame(x).head()

        0        1       2  3
0  165349   136898  471784  2
1  162598   151378  443899  0
2  153442   101146  407935  1
3  144372   118672  383200  2
4  142107  91391.8  366168  1

In [60]:
onehotencoder=OneHotEncoder(categorical_features=[3])

In [61]:
x=onehotencoder.fit_transform(x).toarray()

/home/yaseen/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/yaseen/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [62]:
pd.DataFrame(x).head()

     0    1    2          3          4          5
0  0.0  0.0  1.0  165349.20  136897.80  471784.10
1  1.0  0.0  0.0  162597.70  151377.59  443898.53
2  0.0  1.0  0.0  153441.51  101145.55  407934.54
3  0.0  0.0  1.0  144372.41  118671.85  383199.62
4  0.0  1.0  0.0  142107.34   91391.77  366168.42

# Avoiding the Dummy Variable Trap

In [63]:
x=x[:,1:]

In [64]:
pd.DataFrame(x).head()

     0    1          2          3          4
0  0.0  1.0  165349.20  136897.80  471784.10
1  0.0  0.0  162597.70  151377.59  443898.53
2  1.0  0.0  153441.51  101145.55  407934.54
3  0.0  1.0  144372.41  118671.85  383199.62
4  1.0  0.0  142107.34   91391.77  366168.42

# Splitting the dataset into the Training set and Test set

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

# Fitting Multiple Linear Regression to the Training set

In [68]:
from sklearn.linear_model import LinearRegression

In [69]:
regressor=LinearRegression()

In [71]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

# Predicting the Test set results

In [74]:
y_predict=regressor.predict(x_test)

In [79]:
list(zip(y_predict,y_test))

[(103015.20159796352, 103282.38),
 (132582.2776081537, 144259.4),
 (132447.73845174702, 146121.95),
 (71976.09851258088, 77798.83),
 (178537.48221055616, 191050.39),
 (116161.24230165542, 105008.31),
 (67851.69209675616, 81229.06),
 (98791.73374687255, 97483.56),
 (113969.43533012968, 110352.25),
 (167921.06569550867, 166187.94)]

In [80]:
from sklearn.metrics import r2_score

In [84]:
r2_score(y_test,y_predict)

0.9347068473282446